<div class="tableInfo">
    <a href="/home" class="afa">
        <i style="font-size:24px" class="fa">&#xf0a8;</i>
    </a>
    <div class="name"><input type="text" value="{{board.name}}"></div>
    <div class="favorite"><img src="/file/img/star{{board.favorite}}.svg" data-status="{{board.favorite}}" alt="start" height="50px"></div>
    <div class="private" data-status="{{board.private}}">Private</div>
</div>
<main>
    <div class="tables" id="{{board.id}}">
        <div class="wrapper">
            <div class="submitTable">
                <div id="newTableName"><input type="text" class="tableName"></div>
                <div class="btns">
                    <div class="saveBtn"><button type="button">Save</button></div>
                    <div class="cancelBtn"><button type="button">Cancel</button></div>
                </div>
            </div>
        </div>
        <div>
            <div class="btnAddTable"><button type="button" class="">+ Add Table</button></div>
        </div>
    </div>
    <div class="overlay">
        <div class="wrapper">
            <div class="taskManager">
                <div class="infoPart">
                    <div class="title"></div>
                    <div class="parent"></div>
                </div>
                <div class="description">
                    <div>Description</div>
                    <div class="text"><textarea placeholder="Add more information ..."></textarea></div>
                </div>
                <div class="btns">
                    <div class="saveBtn"><button type="button">Save</button></div>
                    <div class="cancelBtn"><button type="button">Cancel</button></div>
                </div>
            </div>
        </div>
    </div>
</main>